# Header Css
.Header-all {display:flex; justify-content:center;}
.nav-logo {width:1200px; background-Color: #F3EEFF; display: flex; justify-content: space-between; align-items: center;}
.logo {width: 150px; margin: 10px 0 0 20px;}
.login-menu {margin: 0 20px 0 0;}